/*
 material design - Red
 */
.z-theme-kaif {
}

.z-theme-kaif .zone-title {
    color: #B71C1C;
}

.z-theme-kaif .zone-header a {
    color: #B71C1C;
}

.z-theme-kaif .zone-header a:hover {
    color: #EF5350;
}

.z-theme-kaif .zone-menu .pure-menu-selected {
    background-color: #FFEBEE;
}

.z-theme-kaif .zone-menu li a:hover {
    background-color: #FFCDD2;
    color: #B71C1C;
}