//
// normalize
//
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//
// Typography
//
body {
  line-height: 1.7em;
  font-size: @font-size-sm;
  @media (min-width: @screen-md-min) {
    font-size: @font-size;
  }
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: @font-family-base;
}

code, pre {
  font-family: @font-family-monospace;
}

//
// Color
//
body {
  color: @text-color;
  background-color: @body-bg;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: @gray-darker;
}

a {
  color: @link-color;
}

// chrome's default height is small
select {
  height: 34px;
  .pure-form & {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

ol, ul {
  // make mobile padding smaller
  padding-left: 30px;

  @media (min-width: @screen-xl-min) {
    //this is pure-css default
    padding-left: 40px;
  }
}

//
// site-layout: make footer stay bottom
//
body {
  .flex-display();
  min-height: 100vh;
  .flex-direction(column);
}

main {
  .flex(1);
}

//
// site-layout: align whole site to center
//
.container {
  margin: 0 auto;
  @media (min-width: @screen-md-min) {
    max-width: @container-xl;
  }
}

//
// main
//

// default padding for main content
main {
  padding: 0 @padding-sm-horizontal;
  @media (min-width: @screen-md-min) {
    & {
      padding: 0 @padding-lg-horizontal;
    }
  }
}

//
// header
//
.header {
  background: #2d3e50;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}

//
// footer
//
.footer {
  color: @gray-light;
  background: #111;
  text-align: center;
}

.footer-item {
  margin: 0;
}

.footer-item {

  & > * {
    display: inline-block;
    padding: 0 @padding-sm-horizontal;
  }

  a, a:visited {
    text-decoration: none;
    color: lighten(@link-color, 25%);
  }
  a:hover {
    text-decoration: none;
    color: lighten(@link-color, 35%);
  }
}

//
// override pure-form-aligned behavior
// see purecss source code for detail
//
.pure-form-aligned {
  .pure-control-group {
    .psuedo-input {
      display: inline-block;
    }
    & > .psuedo-input,
    & > textarea,
    & > input[type=text],
    & > input[type=email],
    & > input[type=password],
    & > input[type=url] {
      width: 50%;

      //pure-form-aligned switch to stack at 480px
      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }

    label {
      @media screen and (max-width: @screen-sm-max) {
        width: 7em;
      }
      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }
  }
}
