//
// less file specific to components in dart
//
// for css not related to component, put to `template.less`
// for css related to kmark, put to `kmark.less`
//

[comp-template] {
  display: none !important;
}

//
// article
//

.article-list {
  margin-bottom: @padding-lg-vertical;
}

.article-list-pager {
  padding-top: @padding-lg-vertical;
}

.article {
  padding-top: @padding-lg-vertical;
}

.article-vote-box {
  font-size: @font-size;
  text-align: right;
  padding-right: @padding-sm-horizontal;
  @media (min-width: @screen-md-min) {
    padding-right: @padding-lg-horizontal;
    font-size: @font-size-lg;

    white-space: nowrap;
    & > * {
      display: inline-block;
    }
  }
}

.article-title {
  overflow-x: hidden;
  @media (min-width: @screen-md-min) {
    font-size: @font-size-lg;
  }

  a {
    text-decoration: none;
  }
  a:visited {
    color: @gray-lighter;
  }
  a:hover {
    color: @link-hover-color;
  }
  // note <a> 's outline is preserved
  // it used as a hint for user just visited that link
}

.article-link-hint {
  color: @gray-light;
  font-size: @font-size-sm;
}

.article-content {
  overflow-x: hidden;
  margin-top: @padding-vertical;
  margin-left: @padding-xs-horizontal;
  margin-right: @padding-xs-horizontal;
  padding: @padding-vertical @padding-horizontal;
  border-radius: @border-radius-sm;
  box-shadow: 0 0 6px -1px @gray-lighter;
}

.article-info {
  color: @gray-light;
  padding-top: @padding-vertical;

  font-size: @font-size-sm;
  @media (min-width: @screen-md-min) {
    font-size: @font-size;
  }

  & > * {
    padding-right: @padding-horizontal;
  }

  span {
  }

  a {
    color: @gray-light;
    text-decoration: none;
    &:hover {
      color: @link-hover-color;
    }
  }
}

//
// article-form
//

.article-form {
  margin-top: @padding-vertical;
  max-width: @screen-sm-min;
}

//
// debate
//

.debate-tree {
  margin-bottom: @padding-lg-vertical;
}

.debate-form-container {
  padding-top: @padding-lg-vertical;
  margin-top: @padding-lg-vertical;
  border-top: 1px dashed @gray-lighter;
}

.child-debate-hint {
  margin-top: @padding-lg-vertical;
}

.debate {
  margin-top: @padding-lg-vertical;

  .vote-count {
    //    font-size: @font-size;
    //    color: @gray-dark;
    padding: @padding-xs-vertical @padding-xs-horizontal;
    border-radius: @border-radius-sm;
    border: 1px solid lighten(@gray-base, 80%);
  }
}

.debate-vote-box {
  padding-bottom: @padding-lg-vertical;
  white-space: nowrap;
  text-align: center;

  @media (min-width: @screen-md-min) {
    padding-right: @padding-lg-horizontal;
    font-size: @font-size;
    text-align: right;
  }
}

.debate-info, .debate-title {
  font-size: @font-size-sm;
  color: @gray-light;

  & > * {
    padding-right: @padding-xs-horizontal;
  }

  a {
    text-decoration: none;
    color: @gray-light;
    &:hover {
      color: @link-hover-color;
    }
  }
  .debate-edited {
    color: @gray-dark;
  }
}

.debate-content {
  overflow-x: hidden;
}

.debate-action {
  a {
    white-space: nowrap;
    .weak-button();
    .button-sm();
  }
}

.debate-preview {
  border: 1px dotted @gray-light;
  padding: @padding-sm-vertical @padding-sm-horizontal;
}

.debate-child {
  .debate {
    border-left: 1px solid @gray-lightest;
    // better look by box-shadow, but firefox feel slower
    // box-shadow: -7px 0px 5px -6px @gray-lightest;
  }
}

// TODO hack grid for debate tree, search better way
.debate {
  .debate-child {
    .grid-convex {
      width: 36px;
    }
    .grid-center {
      margin-left: 36px;
    }
    .debate-vote-box.grid-convex {
      text-align: center;
      padding-right: 0;
    }
  }
  @media (max-width: @screen-sm-max) {
    .grid-center, .debate-child .grid-center {
      margin-left: 6px;
    }

    .grid-convex, .debate-child .grid-convex {
      width: 26px;
    }
  }
}

//
// votable
//
// @see votable.dart
//

@empty-vote-color: @gray-lighter;
@up-voted-color: #ff5619;
@down-voted-color: rgba(86, 79, 255, 0.75);
@triangle-width: 8px;

.votable {
  a, a:focus, a:visited {
    outline: 0;
    text-decoration: none;
  }
  color: @empty-vote-color;
}

.votable-up {
  color: @up-voted-color;
}

.votable-down {
  color: @down-voted-color;
}

.up-vote {
  .mixin-up-triangle(@color: @empty-vote-color; @width: @triangle-width);
  transition: all 0.5s ease;
}

.votable-up .up-vote {
  .mixin-up-triangle(@color: @up-voted-color; @width: @triangle-width);
  transform: rotate(360deg);
}

.down-vote {
  .mixin-down-triangle(@color: @empty-vote-color; @width: @triangle-width);
  transition: all 0.5s ease;
}

.votable-down .down-vote {
  .mixin-down-triangle(@color: @down-voted-color; @width: @triangle-width);
  transform: rotate(-360deg);
}
