[comp-template] {
  display: none !important;
}

//
// zone
//
.zone {

}

.zone-header {
  border-bottom: solid 1px @gray-lightest;
  padding-left: @convex-row-width;
  padding-top: @padding-lg-vertical;
  padding-bottom: @padding-lg-vertical;
}

.zone-menu {
  padding-left: @convex-row-width;
}

.zone-menu .pure-menu-heading {
  font-weight: bold;
}

.zone-menu .pure-menu-selected {
  background-color: #eee;
}

.zone-menu li a:hover {
  background-color: #eee;
}

.zone-body {
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  @media (min-width: @screen-md-min) {
    flex-flow: row;
  }

  .article-list {
  }

  .zone-aside {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: @aside-width-sm;
    padding-left: @convex-row-width;
    @media (min-width: @screen-lg-min) {
      flex-basis: @aside-width;
    }
    @media (min-width: @screen-md-min) {
      padding-left: 0;
    }
  }
}

a.create-article {
  width: 100%;
}

//
// article
//

.article-list {
  padding-right: @padding-lg-horizontal;
  margin-bottom: @padding-lg-vertical;
}

.article-list-pager {
  padding-top: @padding-lg-vertical;
}

.article {
  display: flex;
  flex-flow: row;
}

.article-vote-box {
  padding-right: @padding-lg-horizontal;
  padding-top: @padding-lg-vertical;
  padding-bottom: @padding-lg-vertical;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: @convex-row-width;
  text-align: right;
  font-size: @font-size-lg;
  white-space: nowrap;
}

.article-body {

}

.article-title {
  font-size: @font-size-lg;
  padding-top: @padding-lg-vertical;
  padding-bottom: @padding-lg-vertical;
}

.article-title {
  a {
    text-decoration: none;
  }
  a:hover {
    color: @link-hover-color;
  }
  a:visited {
    color: @gray-lighter;
  }
  // note <a> 's outline is preserved
  // it used as a hint for user just visited that link
}

.article-link-hint {
  color: @gray-light;
  font-size: @font-size-sm;
}

.article-info {
  & > * {
    padding-right: @padding-horizontal;
  }

  span {

  }

  a {
    color: @gray-light;
    &:hover {
      color: @link-hover-color;
    }
  }
}

//
// debate
//

.debate-container {
  display: flex;
  flex-flow: column;
  @media (min-width: @screen-md-min) {
    justify-content: space-between;
    flex-flow: row;
  }

  .debate-tree {
    padding-right: @padding-lg-horizontal;
    margin-bottom: @padding-lg-vertical;
  }

  .debate-aside {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: @aside-width-sm;
    padding-left: @convex-row-width;
    @media (min-width: @screen-lg-min) {
      flex-basis: @aside-width;
    }
    @media (min-width: @screen-md-min) {
      padding-left: 0;
    }
  }
}

.debate-form-container {
  padding-top: @padding-lg-vertical;
  margin-top: @padding-lg-vertical;
  border-top: 1px dashed @gray-lighter;
}

.debate {
  display: flex;
  flex-flow: row;
}

.debate-vote-box {
  padding-right: @padding-lg-horizontal;
  padding-top: @padding-lg-vertical;
  padding-bottom: @padding-lg-vertical;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: @convex-row-width;
  text-align: right;
  font-size: @font-size-lg;
  white-space: nowrap;
}

.debate-vote-box a {
  display: block;
}

.debate-body {
  padding-top: @padding-lg-vertical;
}

.debate-info {
  & > * {
    padding-right: @padding-horizontal;
  }

  span {
  }

  a {
    color: @gray-light;
    &:hover {
      color: @link-hover-color;
    }
  }
}

//
// kmark
//

.kmark {
  p {
    margin: @padding-sm-vertical 0;
  }
}

//
// votable
//
// @see votable.dart
//

@empty-vote-color: @gray-lighter;
@up-voted-color: #ff5619;
@down-voted-color: rgba(86, 79, 255, 0.75);
@triangle-width: 8px;

.votable {
  a, a:focus, a:visited {
    outline: 0;
    text-decoration: none;
  }
  color: @empty-vote-color;
}

.votable-up {
  color: @up-voted-color;
}

.votable-down {
  color: @down-voted-color;
}

.up-vote {
  .mixin-up-triangle(@color: @empty-vote-color; @width: @triangle-width);
  transition: all 0.5s ease;
}

.votable-up .up-vote {
  .mixin-up-triangle(@color: @up-voted-color; @width: @triangle-width);
  transform: rotate(360deg);
}

.down-vote {
  .mixin-down-triangle(@color: @empty-vote-color; @width: @triangle-width);
  transition: all 0.5s ease;
}

.votable-down .down-vote {
  .mixin-down-triangle(@color: @down-voted-color; @width: @triangle-width);
  transform: rotate(-360deg);
}

