* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  line-height: 1.7em;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (min-width: 48em) {
  body {
    font-size: 16px;
  }
}
code,
pre {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
body {
  color: #333333;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #222222;
}
a {
  color: #156193;
}
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
main {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.container {
  margin: 0 auto;
}
@media (min-width: 48em) {
  .container {
    max-width: 79em;
  }
}
main {
  padding: 0 12px;
}
@media (min-width: 48em) {
  main {
    padding: 0 16px;
  }
}
.header {
  background: #2d3e50;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.footer {
  color: #777777;
  background: #111;
  text-align: center;
}
ul.footer-item {
  margin: 0;
}
ul.footer-item li {
  display: inline-block;
  padding: 0 12px;
}
ul.footer-item li a,
ul.footer-item li a:visited {
  text-decoration: none;
  color: #44a4e4;
}
ul.footer-item li a:hover {
  text-decoration: none;
  color: #71baea;
}
.hidden {
  display: none !important;
}
.l-box {
  padding: 10px 16px;
}
.convex-row {
  margin-left: 96px;
}
.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
@media (min-width: 48em) {
  .grid {
    -webkit-flex-flow: row;
    -moz-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
  }
}
.grid .grid-body {
  width: 100%;
  overflow-x: hidden;
}
.grid .grid-aside {
  -webkit-flex-grow: 0;
  -moz-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 224px;
  -moz-flex-basis: 224px;
  -ms-flex-basis: 224px;
  flex-basis: 224px;
  padding-left: 96px;
}
@media (min-width: 64em) {
  .grid .grid-aside {
    -webkit-flex-basis: 320px;
    -moz-flex-basis: 320px;
    -ms-flex-basis: 320px;
    flex-basis: 320px;
  }
}
@media (min-width: 48em) {
  .grid .grid-aside {
    padding-left: 0;
  }
}
.grid-row > * {
  vertical-align: top;
}
.grid-row .grid-convex {
  float: left;
  width: 96px;
}
.grid-row .grid-center {
  margin-left: 96px;
  overflow-x: hidden;
}
.grid-row .grid-sm-convex {
  float: left;
  width: 36px;
}
.grid-row .grid-sm-center {
  margin-left: 36px;
  overflow-x: hidden;
}
.grid-center-row {
  margin-left: 96px;
  overflow-x: hidden;
}
.button-xs {
  font-size: 70%;
}
.button-sm {
  font-size: 85%;
}
.button-lg {
  font-size: 110%;
}
.button-xl {
  font-size: 125%;
}
.button-success,
.button-danger,
.button-warning,
.button-info {
  color: white;
}
.button-success {
  background-color: #1cb841;
}
.button-danger {
  background: #ca3c3c;
}
.button-warning {
  background: #df7514;
}
.button-info {
  background: #42b8dd;
}
.weak-button {
  text-decoration: none;
  color: #777777;
  outline: none;
  border-radius: 2px;
  background-color: #f7f7f7;
  padding: 5px 10px;
}
.weak-button:hover {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}
.top-menu {
  padding: 0.5em;
  text-align: center;
  z-index: 1000;
}
@media (min-width: 48em) {
  .top-menu {
    text-align: left;
  }
  .top-menu ul {
    float: right;
  }
}
.top-menu.pure-menu-open {
  background: inherit;
}
.pure-menu.pure-menu-open.pure-menu-fixed {
  /* Fixed menus normally have a border at the bottom. */
  border-bottom: none;
  /* I need a higher z-index here because of the scroll-over effect. */
  z-index: 4;
}
.top-menu .pure-menu-heading {
  color: white;
  font-weight: 400;
  font-size: 120%;
}
.top-menu li a,
.top-menu li a:visited {
  text-decoration: none;
  color: #44a4e4;
}
.top-menu li a:hover {
  background: none;
  text-decoration: none;
  color: #71baea;
}
/* alert */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 2px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
.text-primary {
  color: #337ab7;
}
a.text-primary:hover {
  color: #286090;
}
.text-success {
  color: #3c763d;
}
a.text-success:hover {
  color: #2b542c;
}
.text-info {
  color: #31708f;
}
a.text-info:hover {
  color: #245269;
}
.text-warning {
  color: #8a6d3b;
}
a.text-warning:hover {
  color: #66512c;
}
.text-danger {
  color: #a94442;
}
a.text-danger:hover {
  color: #843534;
}
.bg-primary {
  color: #fff;
  background-color: #337ab7;
}
a.bg-primary:hover {
  background-color: #286090;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover {
  background-color: #e4b9b9;
}
/* widgets.dart */
.large-center-loading {
  font-size: 400%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  /* this is not truely center, it just work in our template */
  min-height: 70vh;
}
.large-error-modal {
  position: fixed;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.large-error-modal > .alert {
  position: relative;
  top: 2em;
  width: 50%;
  left: 25%;
}
.toast {
  position: fixed;
  z-index: 10000;
  top: 1em;
  width: 50%;
  left: 25%;
  right: 0;
}
.snack-bar {
  position: fixed;
  z-index: 10000;
  top: 1em;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.snack-bar .action {
  margin-left: auto;
}
[comp-template] {
  display: none !important;
}
.home-menu {
  padding-left: 96px;
}
.home-menu .pure-menu-selected {
  background-color: #eeeeee;
}
.zone-header {
  border-bottom: solid 1px #eeeeee;
  padding-left: 96px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.zone-header a {
  text-decoration: none;
}
.zone-header a:hover {
  color: #1f8dd6;
}
.zone-menu {
  padding-left: 96px;
}
.zone-menu .pure-menu-heading {
  font-weight: bold;
}
.zone-menu .pure-menu-selected {
  background-color: #eeeeee;
}
.zone-menu li a:hover {
  background-color: #eeeeee;
}
a.create-article {
  width: 100%;
}
.article-list {
  padding-right: 16px;
  margin-bottom: 10px;
}
.article-list-pager {
  padding-top: 10px;
}
.article {
  padding-top: 10px;
}
.article-vote-box {
  padding-right: 16px;
  padding-bottom: 10px;
  text-align: right;
  font-size: 20px;
  white-space: nowrap;
}
.article-title {
  font-size: 20px;
}
.article-title a {
  text-decoration: none;
}
.article-title a:visited {
  color: #b3b3b3;
}
.article-title a:hover {
  color: #1f8dd6;
}
.article-link-hint {
  color: #777777;
  font-size: 14px;
}
.article-content {
  margin-top: 6px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 6px 12px;
  border-radius: 2px;
  box-shadow: 0 0 6px -1px #b3b3b3;
}
.article-info {
  color: #777777;
  padding-top: 6px;
}
.article-info > * {
  padding-right: 12px;
}
.article-info a {
  color: #777777;
  text-decoration: none;
}
.article-info a:hover {
  color: #1f8dd6;
}
.article-form {
  margin-top: 6px;
  max-width: 35.5em;
}
.debate-tree {
  padding-right: 16px;
  margin-bottom: 10px;
}
.debate-form-container {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px dashed #b3b3b3;
}
.child-debate-hint {
  margin-top: 10px;
}
.debate {
  margin-top: 10px;
}
.debate .vote-count {
  padding: 1px 5px;
  border-radius: 2px;
  border: 1px solid #cccccc;
}
.debate-vote-box {
  padding-right: 16px;
  padding-bottom: 10px;
  text-align: right;
  font-size: 20px;
  white-space: nowrap;
}
.debate-vote-box.grid-sm-convex {
  text-align: center;
  padding-right: 0;
}
.debate-info,
.debate-title {
  font-size: 14px;
  color: #777777;
}
.debate-info > *,
.debate-title > * {
  padding-right: 5px;
}
.debate-info a,
.debate-title a {
  text-decoration: none;
  color: #777777;
}
.debate-info a:hover,
.debate-title a:hover {
  color: #1f8dd6;
}
.debate-info .debate-edited,
.debate-title .debate-edited {
  color: #333333;
}
.debate-action a {
  text-decoration: none;
  color: #777777;
  outline: none;
  border-radius: 2px;
  background-color: #f7f7f7;
  padding: 5px 10px;
  font-size: 85%;
}
.debate-action a:hover {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}
.debate-preview {
  border: 1px dotted #777777;
  padding: .5em .6em;
}
.debate-child .debate {
  border-left: 1px solid #eeeeee;
}
.votable {
  color: #b3b3b3;
}
.votable a,
.votable a:focus,
.votable a:visited {
  outline: 0;
  text-decoration: none;
}
.votable-up {
  color: #ff5619;
}
.votable-down {
  color: rgba(86, 79, 255, 0.75);
}
.up-vote {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 16px 8px;
  border-color: transparent transparent #b3b3b3 transparent;
  display: inline-block;
  transition: all 0.5s ease;
}
.votable-up .up-vote {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 16px 8px;
  border-color: transparent transparent #ff5619 transparent;
  display: inline-block;
  transform: rotate(360deg);
}
.down-vote {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 8px 0 8px;
  border-color: #b3b3b3 transparent transparent transparent;
  display: inline-block;
  transition: all 0.5s ease;
}
.votable-down .down-vote {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 8px 0 8px;
  border-color: rgba(86, 79, 255, 0.75) transparent transparent transparent;
  display: inline-block;
  transform: rotate(-360deg);
}
.zone-list .zone-category {
  border-bottom: 1px solid #eeeeee;
}
.zone-list .zone-table .zone-name {
  min-width: 200px;
}
.kmark {
  line-height: 1.5em;
  color: #333333;
}
.kmark p,
.kmark ol,
.kmark ul {
  margin: 5px 0;
}
.kmark blockquote {
  margin: 5px 0;
  padding-left: 10px;
  border-left: 2px solid #999999;
  color: #808080;
}
.kmark code,
.kmark pre {
  background-color: #f7f7f7;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;
}
.kmark pre {
  border: 1px solid #eeeeee;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
}
