//
// kmark
//

@kmark-color: @gray-dark;

.kmark {
  line-height: 1.5em; //body is 1.7em;
  color: @kmark-color;
  
  p, ol, ul {
    margin: @padding-sm-vertical 0;
  }
  blockquote {
    margin: @padding-sm-vertical 0;
    padding-left: @padding-sm-horizontal;
    border-left: 2px solid lighten(@kmark-color, 40%);
    color: lighten(@kmark-color, 30%);
  }
  code, pre {
    background-color: lighten(@gray-base, 97%);
    padding-left: @padding-xs-horizontal;
    padding-right: @padding-xs-horizontal;
    border-radius: @border-radius-sm;
  }
  pre {
    border: 1px solid @gray-lightest;
    margin-top: @padding-vertical;
    margin-bottom: @padding-vertical;
    padding-top: @padding-sm-vertical;
    padding-bottom: @padding-sm-vertical;
  }

  .reference-appendix-block {
    margin-bottom: @padding-sm-vertical;
  }
  
  .reference-appendix-index {
    &:before {
      content: '['
    }
    &:after {
      content: ']'
    }
    float: left;
  }

  .reference-appendix-wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: @padding-xs-horizontal;
  }
}