//
// less file for general page ftl or template.ftl
//

//
// top-menu
//
.top-menu {
  padding: 0.5em;
  text-align: center;
  z-index: @zindex-navbar;

  @media (min-width: @screen-md-min) {
    & {
      text-align: left;
    }

    & ul {
      float: right;
    }
  }
}

.top-menu.pure-menu-open {
  background: inherit; //override pure-menu
}

.pure-menu.pure-menu-open.pure-menu-fixed {
  /* Fixed menus normally have a border at the bottom. */
  border-bottom: none;
  /* I need a higher z-index here because of the scroll-over effect. */
  z-index: 4;
}

.top-menu .pure-menu-heading {
  color: white;
  font-weight: 400;
  line-height: 1em;
}

img.logo {
  width: 60px;
  height: 25px;
}

.top-menu li {
  a, a:visited {
    text-decoration: none;
    color: lighten(@link-color, 25%);
  }
  a:hover {
    background: none;
    text-decoration: none;
    color: lighten(@link-color, 35%);
  }
}

//
// home
//
.home-menu {
  @media (min-width: @screen-md-min) {
    padding-left: @convex-row-width;
  }
}

.home-menu .pure-menu-selected {
  background-color: @gray-lightest;
}

//
// zone
//
.zone {

}

.zone-header {
  border-bottom: solid 1px @gray-lightest;
  padding-top: @padding-lg-vertical;
  padding-bottom: @padding-lg-vertical;
  a {
    text-decoration: none;
    &:hover {
      color: @link-hover-color;
    }
  }
  @media (min-width: @screen-md-min) {
    padding-left: @convex-row-width;
  }
}

.zone-menu {
  @media (min-width: @screen-md-min) {
    padding-left: @convex-row-width;
  }
}

.zone-menu .pure-menu-heading {
  font-weight: bold;
}

.zone-menu .pure-menu-selected {
  background-color: @gray-lightest;
}

.zone-menu li a:hover {
  background-color: @gray-lightest;
}

a.create-article {
  width: 100%;
}

//
// zone-list
//
.zone-list {
  .zone-category {
    border-bottom: 1px solid @gray-lightest;
  }
  .zone-table {
    .zone-name {
      min-width: 200px;
    }
  }
}

//
// aside card
//
.aside-card {
  h4 {
    color: @gray-light;
    margin: @padding-lg-vertical 0;
    border-bottom: 1px solid @gray-lightest;
  }
  .aside-card-box {
    margin-top: @padding-lg-vertical;
    background-color: @gray-lightest;
    border-radius: @border-radius-sm;
    padding: @padding-lg-vertical @padding-lg-horizontal;
  }
}

//
// aside zone-list
//
.aside-zone-list {
  ul {
    list-style: none;
    padding-left: 0;
  }
}

//
// aside short url
//
.aside-short-url {
  input[type=text] {
    font-size: @font-size-sm;
    width: 100%;
  }
}

//
// search
//

.search-form {
  .flex-display(inline-flex);
  .justify-content(space-between);
  width:100%;
  input[type=text] {
    .flex-grow(1);
  }
  button[type=submit] {
    .flex-basis(90px);
    margin-left: @padding-xs-horizontal;
    @media only screen and (max-width: @screen-md-max) {
      margin-top: 0;
    }
  }
}

.form-action-bar {
  & > .pure-button {
    margin-top: 0.7em;
  }
}