#!/usr/bin/env bash
now_date=`date +%F`
disk_name=kaifio-volumn
rotate_date=`date -d "7 days ago" +%F`
gpath=/usr/bin
zone=asia-east1-a

echo
echo "=================================================="
echo "starting backup gce $disk_name for $now_date..."

$gpath/gcloud compute disks snapshot $disk_name --zone $zone --snapshot-names "$disk_name-$now_date"
if [ $? -eq 0 ]; then
    echo "backup success"
else
    echo "backup $now_date failed"
    echo "backup $disk_name $now_date fail" | mutt -s "WARNING! snapshot $disk_name failed - $(date)" "{{backup_notify_email}}"
fi

echo "deleting old snaphot $rotate_date..."
$gpath/gcloud compute snapshots delete "$disk_name-$rotate_date" -q

if [ $? -eq 0 ]; then
    echo "delete success"
else
    echo "delete old snapshot $rotate_date failed"
    echo "delete old snapshot $disk_name $rotate_date failed" | mutt -s "WARNING! delete snapshot $disk_name rotate failed - $(date)" "{{backup_notify_email}}"
fi
