#!/bin/bash

### BEGIN INIT INFO
# Provides:        {{tomcat.name}} 
# Required-Start:  $network
# Required-Stop:   $network
# Default-Start:   2 3 4 5
# Default-Stop:    0 1 6
# Short-Description: Start/Stop {{tomcat.name}} 
### END INIT INFO


# Install this script:
#
#     sudo update-rc.d {{tomcat.name}} defaults
#
# see http://askubuntu.com/questions/223944/how-to-automatically-restart-tomcat7-on-system-reboots

PATH=/sbin:/bin:/usr/sbin:/usr/bin

TOMCAT_HOME=/var/lib/{{tomcat.name}}

# max limit of open file
MAX_OPEN_FILE=327680

start() {
 # apply ulimit to `service's user` (which should be root) temporarily, the setting will propagate
 # to `su -l tomcat.owner` as well.
 #
 # note that limits.conf require add `session required pam_limits.so` to /etc/pam.d/common-session.
 # (http://posidev.com/blog/2009/06/04/set-ulimit-parameters-on-ubuntu/)
 # without pam_limits.so, service started while booting do not honor limits.conf.
 # However, apply to common-session affect too many exist processes. So we set ulimit explicitly
 # in this script only.
 ulimit -n $MAX_OPEN_FILE;
 su -l {{tomcat.owner}} -c "
    ulimit -a > /tmp/{{tomcat.name}}_ulimit_debug;
    cd $TOMCAT_HOME;
    $TOMCAT_HOME/bin/startup.sh"
}

stop() {
 su -l {{tomcat.owner}} -c "$TOMCAT_HOME/bin/shutdown.sh"
}

force-stop() {
 su -l {{tomcat.owner}} -c "$TOMCAT_HOME/bin/shutdown.sh -force 10"
}

case $1 in
  start|stop|force-stop) $1;;
  restart) stop; start;;
  force-restart) force-stop; start;;
  *) echo "Run as $0 <start|stop|restart|force-stop|force-restart>"; exit 1;;
esac
