#!/bin/bash

### BEGIN INIT INFO
# Provides:        {{tomcat.name}} 
# Required-Start:  $network
# Required-Stop:   $network
# Default-Start:   2 3 4 5
# Default-Stop:    0 1 6
# Short-Description: Start/Stop {{tomcat.name}} 
### END INIT INFO


# Install this script:
#
#     sudo update-rc.d {{tomcat.name}} defaults
#
# see http://askubuntu.com/questions/223944/how-to-automatically-restart-tomcat7-on-system-reboots

PATH=/sbin:/bin:/usr/sbin:/usr/bin

TOMCAT_HOME=/var/lib/{{tomcat.name}}

start() {
 su -l {{tomcat.owner}} -c "cd $TOMCAT_HOME; $TOMCAT_HOME/bin/startup.sh"
}

stop() {
 su -l {{tomcat.owner}} -c "$TOMCAT_HOME/bin/shutdown.sh"
}

case $1 in
  start|stop) $1;;
  restart) stop; start;;
  *) echo "Run as $0 <start|stop|restart>"; exit 1;;
esac
