[Unit]
Description={{springboot_name}}
After=syslog.target

[Service]
User={{springboot_owner}}
Environment="LANG=en_US.UTF-8"
WorkingDirectory=/var/lib/{{springboot_name}}
ExecStart=/bin/bash -c 'exec /var/lib/{{springboot_name}}/{{springboot_name}}.jar \
          >> logs/{{springboot_name}}.log 2>&1'
Restart=always
LimitNOFILE=327680
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target