####
# Common properties for all profiles.
#
# If some properties are different between profiles, write property in each .yml
# Please do not write default value here and overwrite in specific .yml
####

## web server
server:
  tomcat:
    connection-timeout: 20000
    max-connections: 600
    uri-encoding: UTF-8
  error:
    whitelabel:
      enabled: false

## freemarker
spring.freemarker:
  templateLoaderPath: classpath:/templates,classpath:/mail
  # expose `request` so it is accessible in ftl
  request-context-attribute: request
  settings:
    datetime_format: yyyy-MM-dd
    number_format: 0.######



## spring mvc resources

# cache busting for static resources, this apply to freemarker's <@spring.url>
# directive
spring.resources.chain.strategy.content.enabled: true
spring.resources.chain.strategy.content.paths:
  - /css/**
  - /img/**
  - /web/*.js

## actuator
management:
  server:
    add-application-context-header: false
  endpoint:
    health:
      enabled: true
    info:
      enabled: false


## database
spring.datasource:
  driver-class-name: org.postgresql.Driver


## jmx
spring.jmx.enabled: false


## messages
spring.messages.basename: i18n/messages


## mail, see MailProperties.java
mail.sender-address: noreply@kaif.io
mail.sender-name: Kaif.io


## model


## flake node id


## app


## logback


## misc
